/* algemeen */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  width: 100%;
  height: 100%;
}

h2 {
  color: white;
}

p {
  color: black;
}

.room {
  background-image: url(../images/room2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-height: 100vh;
}

.room #soundIcon {
  display: none;
}

button {
  background-color: white;
  border: 0.1em solid black;
}

/* Jack heeft mij geholpen met de code voor een afbeelding als cursor */
.cursor{
  height: 150px;
  width: 140px;
  position: absolute;
  top: 100px;
  left: 100px;
  background-image: url(/images/vergrootglas3-removebg-preview.png);
  background-size: 100% 100%;
  transform: translate(-30%, -30%);
  transition: transform .1s;
  pointer-events: none;
}

.cursor.active{
  transform: translate(-20%, -20%) rotate(-45deg);
}

h1 {
  text-align: center;
  color: white;
  font-size: 5em;
}

/* grid */
.grid-container {
  display: grid;
  grid-template-columns: 1unit;
  grid-template-rows: 3;
  gap: 10px;
}

.grid-container div {
  text-align: center;
}

.item1 {
  grid-row-start: 2;
  margin-top: 100px;
}

.item2 {
  grid-row-start: 4;
  margin-top: 100px;
}

.item3 {
  grid-row-start: 1;
}

.item3 {
  grid-row-start: 3;
}

.item3 p {
  color: white;
  margin-top: 2em;
  font-size: 2em;
}

/* startscreen */
.startScreen {
  background-image: url(../images/homescreen_lock.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-height: 100vh;
}

.startScreen h1 {
  margin-top: -70px;
}

.startScreen p {
  margin-top: 40px;
}

#startButton, #backToStartButton {
  background-color: rgb(14, 77, 24);
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 3em;
  border: 0.2em solid rgb(14, 77, 24);
  border-radius: 1em;
}

#soundIcon {
  max-width: 60px;
  max-height: 60px;
  background-color: rgb(255, 255, 255);
  border: 0.5em;
  border-radius: 1em;
  margin-top: 20px;
  margin-left: 1620px;
}

.item3 p:nth-of-type(3) {
  color: red;
  font-size: 2.5em;
}

/* modal popups */
.modal img {
  width: 50vw;
  height: 50vh;
}

.modal-container {
  position: fixed;
  pointer-events: none;
  display: none;
  background-color: white;
}

.modal-container.show {
  display: block;
  pointer-events: auto;
}

/* modal popup images/elements */
#openDoor {
  position: fixed;
  pointer-events: none;
  display: none;
}

#openDoor.show {
  display: block;
  pointer-events: auto;
}

label {
  color: black;
}

#modalBooks, #modalPaper, #modalKey, #modalLock1, #modalLock2, #modalDoor {
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  background-color: rgb(70, 144, 80);
  padding-bottom: 0.5em;
  border: 0.2em solid rgba(255, 255, 255, 0.264);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  display: grid;
}

.modal img {
  max-height: 60vh;
}

.modal p {
  text-align: center;
}

#closeBooks, #closePaper, #closeKey, #closeLock1, #closeLock2, #closeDoor {
  min-width: 3em;
  min-height: 3em;
  grid-row-start: 1;
  margin-right: 0;
  margin-left: auto;
}

.inputFieldPosition {
  display: flex;
  justify-content: center;
}

#feedbackDoor {
  grid-row-start: 2;
}

#openDoor {
  grid-row-start: 3;
  margin-left: 44%;
}

#codeOnPaper {
  position: relative;
  text-align: center;
}

#showRandomCode {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Canvas Script';
  font-size: 2em;
}

/* positioning clickable images for modal popups */
#books, #paper, #key, #lock1, #lock2, #door {
  position: absolute;
}

#lock1, #lock2 {
  max-width: 55px;
  margin-left: 360px;
}

#lock1 {
  margin-top: 14.2em;
}

#lock2 {
  margin-top: 34.2em;
}

#door {
  max-width: 70px;
  margin-top: 360px;
  margin-left: 315px;
}

#books {
  max-width: 180px;
  margin-top: 387px;
  margin-left: 548px;
}

#paper {
  max-width: 20px;
  margin-top: 220px;
  margin-left: 1082px;
}

#key {
  max-width: 20px;
  margin-top: 546px;
  margin-left: 1490px;
}

#lamp {
  max-width: 130px;
  margin-top: 312px;
  margin-left: 1425px;
}

/* winner.html */
.winner {
  background-image: url(../images/garden.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.winner h1 {
  font-size: 10em;
  background-color: rgba(0, 0, 0, 0.414);
  color: rgb(248, 248, 109);
  margin-top: -3px;
}

.winner a, .winner p {
  margin-left: 1100px;
}

#backToStartButton {
  color: black;
  background-color: white;
  border: 0.2em solid white;
}

.winner p {
  color: black;
}

/* gameover.html */
.gameOverScreen {
  background-image: url(../images/cracked.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-height: 100vh;
}

.gameOverScreen h1, .gameOverScreen p {
  color: red;
}

.gameOverScreen h1 {
  font-size: 10em;
}

.gameOverScreen p {
  max-width: 30vw;
  margin-left: 250px;
}

.gameOverScreen #backToStartButton {
  color: white;
  background-color: red;
  border: none;
  padding: 0.2em;
}